{% extends "news/base.html" %}
{% load static %}

{% block title %}
	<title>{{ user }} profile</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
	<script type="text/javascript" src="{% static 'JS/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'JS/main.js' %}"></script>
{% endblock %}

{% block content %}
<div id="page-wrapper">

{% block header %}
	{% include "news/includes/header.html" %}
{% endblock %}

	<div id="content-wrapper">
		<div id="news-feed-alone">
		<div id="profile-content">
			
				
					<div id="user-main-photo">
						{% if user.avatar %}
						<img src="{{ user.avatar.url }}" />
						{% else %}
						<img src="{{ MEDIA_URL }}news/default-avatar.png" />
						{% endif %}
					</div>
				
				<div id="user-name">
					{{ user.user.username }}
				</div>

				
				{% if current_user.id == user.id %}
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div id="profile-avatar">
					<p>
						<label>Avatar:</label>
							{{ UserProfileChangeForm.avatar.errors }}
							{{ UserProfileChangeForm.avatar }}
					</p>
					</div>
				{% endif %}
				
					{% if current_user.id == user.id %}
						<div id="profile-country">
							<label>Country:</label> 
							{{ UserProfileChangeForm.country }}
						</div>
					{% elif user.country %}
						<div id="profile-country">
							<label>Country:</label> {{ user.country.name }} <img src="{{ user.country.flag }}">
						</div>
					{% endif %}	

					{% if current_user.id == user.id %}
					<div id="profile-gender">
						<label>Gender:</label> 
						{{ UserProfileChangeForm.gender }}
					</div>
					{% elif user.gender %}
					<div id="profile-gender">
						<label>Gender:</label> {{ user.get_gender_display }}
					</div>
					{% endif %}

					{% if current_user.id == user.id %}
					<div id="profile-birthday">
						<label>Birthday:</label> 
						{{ UserProfileChangeForm.birthday.errors }}
						{{ UserProfileChangeForm.birthday }}
					</div>
					{% elif user.birthday %}
						<label>Birthday:</label> {{ user.birthday }}
					{% endif %}

					{% if current_user.id == user.id or user.about %}
					<div id="user-about">
					<p><label>About:</label>
						{% if current_user.id == user.id %}
							{{ UserProfileChangeForm.about.errors }}
							{{ UserProfileChangeForm.about|default:user.about }}
						{% else %}
							{{ user.about }}
						{% endif %}
					</p>
					</div>
					{% endif %}
					{% if current_user.id == user.id %}
						<div id="submit-button">
							<input type="submit" value="Apply changes">	
						</div>
					{% endif %}

				{% if current_user.id == user.id %}
				</form>
				{% endif %}
				
			
		</div>
		</div>
	</div>
{% block footer %}
	{% include "news/includes/footer.html" %}
{% endblock %}
</div>
{% endblock %}
