@media screen and (max-width: 730px) {
	.sitemap-marks {
		margin-left: 2.5%;
	}
    .user-buttons {
        margin-right: 2.5%;
    }
    .menu-button {
    	font: 13px Arial;
    }
    .logo-area {
    	margin-left: 20px;
    	width: 220px;
    }
    .logo-area h2 {
    	font-size: 30px;
    }
    .logo-area h5 {
    	font-size: 14px;
    }
    .search-field {
    	margin-right: 20px;
    	width:140px;
    }
    .search-field input[type="search"] {
    	width: 100px;
    }
    .search-field button[type="submit"] {
    	width: 20px;
    }

}