{% load static %}

{% block header %}
	<div id="header-wrapper">
	<header id="header">
		<div class="sitemap">
			<div class="sitemap-marks">
				<div id="contacts-button">
					<a tabindex=1 href="#">
						Contacts	
					</a>
				</div>
				<div id="map-button">
					<a tabindex=2 href="#">
						Sitemap
					</a>
				</div>
				<div id="about-button">
					<a tabindex=3 href="#">
						About
					</a>
				</div>
			</div>
			<div class="user-buttons">
				{% if current_user.is_authenticated %}
				<div class="user-button">
					<i class="fa fa-user" aria-hidden="true"></i>
					<a href="/profile/{{ current_user.username }}">{{ current_user.username }}</a>
				</div>
				<div class="user-button">
					<a href="/signOut/">Sign Out</a>
				</div>
				
				{% else %}

				<div class="user-button">
					<a href="/signIn/">Sign In</a>
				</div>
				<div class="user-button">
					<a href="/signUp/">Sign Up</a>
				</div>

				{% endif %}

			</div>
			
		</div>
		<div id="contacts-panel">
		<div class="panel-icon"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></div>
			<ul>
				<li>
					VKontakte: <a target="_blank" href="https://vk.com/ctf_vl">www.vk.com/ctf_vl</a>	
				</li>
				<li>
					E-mail: <a target="_blank" href="mailto:leetzeppelin@gmail.com">leetzeppelin@gmail.com</a>
				</li>
			</ul>
		</div>
		<div id="map-panel">
		<div class="panel-icon"><i class="fa fa-sitemap fa-2x" aria-hidden="true"></i></div>
			<ul>
				<li>
					<a href="#">Full sitemap</a>
					<ul>
						<li>
							<a href="/">News feed</a>
						</li>
					</ul>
				</li>
			</ul>	
		</div>
		<div id="about-panel">
		<div class="panel-icon"><i class="fa fa-comments fa-2x" aria-hidden="true"></i></div>
			<p>
				Site of the mates of CTF LeetZeppelin's team. Made and supports with fire in the eyes. 
			</p>
		</div>
		<div class="header-body">
			<div id="logo-image">
					<a href="/"><img src="{% static 'img/zeppelin.png' %}"></a>
			</div>
			<div id="logo-text">
				<h3>Dream team of the balloon.</h3>
			</div>
			<div class="search-field">
				<input type="search" tabindex=4 placeholder="Search">
				<a href="#"><button type="submit"><i class="fa fa-lg fa-search" aria-hidden="true"></i></button></a>
			</div>

		</div>
		<!--
		<div class="menu-area">
			<a href="#">
				<button type="submit" tabindex=5 class="menu-button col-lg-2 col-md-2 col-sm-2 col-xs-2">Menu button</button>
			</a>
			<a href="#">
				<button type="submit" tabindex=6 class="menu-button col-lg-2 col-md-2 col-sm-2 col-xs-2">Menu button</button>
			</a>
			<a href="#">
				<button type="submit" tabindex=7 class="menu-button col-lg-2 col-md-2 col-sm-2 col-xs-2">Menu button</button>
			</a>
			<a href="#">
				<button type="submit" tabindex=8 class="menu-button col-lg-2 col-md-2 col-sm-2 col-xs-2">Menu button</button>
			</a>
			<a href="#">
				<button type="submit" tabindex=9 class="menu-button col-lg-2 col-md-2 col-sm-2 col-xs-2">Menu button</button>
			</a>
			<a href="#">
				<button type="submit" tabindex=10 class="menu-button col-lg-2 col-md-2 col-sm-2 col-xs-2">Menu button</button>
			</a>
		</div>
		-->
	</header>
	</div>
{% endblock %}